@model CatCareForum.Models.Comment

@{
    ViewData["Title"] = "Create";
}

<div class="container w-75 mx-auto p-2">
    <h3 class="mb-3">Add a Comment</h3>
    <hr />

    <div class="card shadow-lg p-4">
        <form asp-action="Create">
            <!-- Hidden DiscussionID -->
            <input type="hidden" value="@ViewBag.DiscussionId" name="DiscussionId" />

            <div class="mb-3">
                <textarea asp-for="Content" class="form-control" rows="5"></textarea>
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <input type="submit" value="Add Comment" class="btn btn-dark" />
            </div>
        </form>
    </div>

    <!-- Back to Thread Button -->
    <div class="mt-3">
        <a asp-controller="Discussions" asp-action="Edit" asp-route-id="@ViewBag.DiscussionId"
           class="btn btn-secondary">Back to Thread</a>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
